<h1>Listing web_issues</h1>

<table>
  <tr>
    <th>Publication</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @web_issues.each do |web_issue| %>
  <tr>
    <td><%= web_issue.publication %></td>
    <td><%= web_issue.name %></td>
    <td><%= link_to 'Show', web_issue %></td>
    <td><%= link_to 'Edit', edit_web_issue_path(web_issue) %></td>
    <td><%= link_to 'Destroy', web_issue, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Web issue', new_web_issue_path %>
